/* reset : réinitialisation des styles par défauts des navigateurs */

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Style général */

* {
    font-family: 'Cabin', sans-serif;
}

.flux {
    margin-left: 75px;
    margin-right: 75px;
}

@media (max-width: 640px) {
    .flux {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.title-2 {
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 1.25;
}

.text-paragraph {
    line-height: 1.25;
}

.button {
    display: inline-block;
    text-transform: uppercase;
    color:white;
    border-radius: 20px;
    padding: 10px 15px;
}

.button-orange {
    background: rgb(255, 184, 0);
    transition: all 2s;
}

.button-orange:hover {
    background-image: linear-gradient(90deg, rgb(255, 51, 149), rgb(255, 184, 0));
    transition: all 5s;
}

.button-black {
    background-color: black;
    transition: background-color 0.25s;
}

.button-black:hover {
    background-color: rgb(41, 40, 40);
}

/* START : stylisation du header */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.logo {
    width: 125px;
    height: 25px;
    margin: 25px;
}

.list-links {
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.list-links .button-black {
    margin: 0;
}

.nav-link {
    text-transform: uppercase;
    font-size: 14px;   
    white-space: nowrap;
}

.nav-link-hover::after {
    content: "";
    background: black;
    display: block;
    height: 2px;
    transition: width ease-in-out 0.25s;
    width: 0;
}

.nav-link-hover:hover::after {
    width: 100%;
}

.select-lang {
    background-color: white;
    border: 0;
    cursor: pointer;
}

.button {
    color: white;
    padding: 15px 30px;
    border-radius: 30px;
    font-weight: 500;
    margin-top: 25px;
}

@media (max-width:1024px) {
    .nav {
        display: none;
    }
}

@media (min-width: 1024px) {
    .menu-burger {
        display: none;
    }
}

/* à la place de .button on peut aussi utiliser "le dernier élément de .nav-link"
.nav-link:last-child a {
    background-color: black;
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
} 

il existe aussi 
.nav-link:first-child  : premier enfant de nav-link;
.nav-link:nth-child(2) : enfant n°2 de nav-link;

*/

/* START : stylisation de la cover */

.cover {
    display: flex;
    align-items: center;
}

@media (max-width: 640px) {
    .cover {
        flex-direction: column;
    }
}

.cover-title {
    font-size: 50px;
    margin-bottom: 20px;
}

.cover-text {
    padding-right: 100px;
}

@media (max-width: 640px) {
    .cover-text {
        padding-right: 0;
    }
}

.cover-intro {
    margin-bottom: 30px;
}

.img-office {
    width: 55%;
    flex-shrink: 0;
    height: 320px;
    object-fit: cover;
    object-position: bottom;
}

@media (max-width: 640px) {
    .img-office {
        width: 100%;
    }
}

.icon-scroll {
    background-color: black;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

@media (max-width: 640px) {
    .icon-scroll {
        display: none;
    }
}

.icon-scroll img {
    width: 100%;
}

/* START : stylisation des programs */

.programs {
    background-color: #202020;
    margin-top: 75px;
    padding-top: 75px;
    padding-bottom: 75px;
}

@media (max-width: 640px) {
    .programs .flux {
        flex-direction: column;
    }
}

.programs .flux {
    display: flex;
    gap: 50px;
}

.programs .container-texts {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media (max-width: 640px) {
    .programs .container-texts {
        width: 100%;
        text-align: center;
    }
}

.programs .title-2 {
    width: 75%;
}

@media (max-width: 640px) {
    .programs .title-2 {
        width: 100%;
    }
}

.programs .container-texts .button {
    margin-top: 50px;
}

@media (max-width: 640px) {
    .programs .container-texts .button {
        display: none;
    }
}

.programs .button-mobile {
    display: none;
}

@media (max-width: 640px) {
    .programs .button-mobile {
        display: flex;
    }
}

.programs .container-texts p {
    flex-grow: 1;
}

.programs .container-images {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.programs .container-images li {
    background-color: white;
    border-radius: 20px;
    width: calc(50% - 25px / 2);
    height: 130px;
    padding: 30px;
}

.programs .container-images li img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* START : stylisation du online */

.online {
    background: linear-gradient(180deg, #202020 0% 50%, white 50% 100%);
}

.online .online-content {
    display: flex;
    padding: 75px 50px 50px; 
    background-image: linear-gradient(90deg, rgb(255, 51, 149), rgb(255, 184, 0) 50%);
    background-image: linear-gradient(to top left, rgb(255, 51, 149), rgb(255, 184, 0) 50%);
    background-image: linear-gradient(0deg, rgb(255, 51, 149), green 20%, rgb(255, 184, 0));
    background-image: linear-gradient(0, rgb(255, 51, 149) 0% 20%, green 20% 60%, rgb(255, 184, 0) 60% 100%);
    background-image: linear-gradient(90deg, rgb(255, 51, 149), rgb(255, 184, 0));
    border-radius: 10px;
}


@media (max-width: 640px) {
    .online .online-content {
        flex-direction: column;
        padding: 30px;
        text-align: center;
    }
}

.online .online-content .online-img {
    width: 50%;
    border-radius: 20px;
    margin-right: 50px;
    display: flex;
    align-items: center;
}

@media (max-width: 640px) {
    .online .online-content .online-img {
        width: 100%;
        padding-right: 0;
        display: none;
    }
}

.online .online-content .online-img img {
    border-radius: 10px;
    width: 100%;
}

.online .container-texts {
    width: 50%;
    color: white;
}

@media (max-width: 640px) {
    .online .container-texts{
        width: 100%;
    }
}

.online .container-texts a {
    margin-top: 50px;
}

.online .container-texts img {
    display: none;
    border-radius: 15px;
}

@media (max-width: 640px) {
    .online .container-texts img {
        width: 100%;
        padding-right: 0;
        display: flex;
        margin-top: 30px;
    }
}

/* END online */